{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">Query - Api</div>
        <form class="panel-body" method="post" action="">
            <h4>URL :</h4>
            <ul class="list-group">
                <li class="list-group-item">Serveur : <input type="text" name="server" value="{{ server }}" /></li>
                <li class="list-group-item">URI : <input type="text" id="uri" name="uri" value="{{ uri }}" /></li>
            </ul>
            <h4>POST :</h4>
            <ul id="call_parameters" class="list-group">
                {% for key, value in aPost %}
                    <li class="list-group-item">{{ key }} : <input type="text" name="aPost[{{ key }}]" value="{{ value }}" /></li>
                {% endfor %}
            </ul>
            <input type="text" id="new_parameter_key" value="" placeholder="new parameter key" />
            <button onclick="addParameter();return false;">Add parameter</button>

            <h4>Send query :</h4>
            <input type="submit" />
        </form>
    </div>
    <h3>Retour :</h3>
    <h4>URL :</h4>
    <pre>{{ url }}</pre>
    <h4>Data :</h4>
    <ul>
        {% for key, value in aPost %}
            <li>{{ key }} := {{ value }}</li>
        {% endfor %}
    </ul>
    <h4>Result :</h4>
    <pre>{{ result }}</pre>

    <h4>Form :</h4>
    <form method="post" target="_debug_api" action="{{ url }}">
        {% for key, value in aPost %}
            <input type="hidden" name="{{ key }}" value="{{ value }}" />
        {% endfor %}
        <input type="submit" />
    </form>
    <div class="panel panel-default">
        <div class="panel-heading">Listes des query :</div>
        <ul id="api_paths" class="panel-body list-group">
        </ul>
    </div>
    <script>
        var swagger = null;
        function addParameter() {
            var key = $('#new_parameter_key').val();
            key = $.trim(key);
            if ( key != "" )
                $('#call_parameters').append(
                    '<li class="list-group-item">'+key+' <input type="text" name="aPost['+key+']" value="" /></li>'
                );
            $('#new_parameter_key').val('');
        }
        function apiPathsSelect(path) {
            var ul = '';
            $.each(swagger.paths[path].post.parameters, function( index, value ) {
                console.log( value );
                ul += '<li class="list-group-item">'+(value.name)+'<input name="aPost['+(value.name)+']"';
                if ( value.required )
                    ul += ' required="required"';
                if ( value.type )
                    ul += ' type="'+value.type+'"';
                ul += ' />';
                if ( value.description )
                    ul += value.description;
                ul += '</li>';
            });
            $('#call_parameters').html(ul);
            $('#uri').val(path);
        }
        $.ajax
        ({
            type: "GET",
            url: '/swagger.json',
            success: function (ret){
                swagger = JSON.parse(ret);
                $.each(swagger.paths, function( index, value ) {
                    console.log( index );
                    console.log( value );
                    $('#api_paths').append('<li class="list-group-item" onclick="apiPathsSelect(\''+index+'\')">'+index+'</li>');
                });
            }
        });
    </script>
{% endblock %}
